.redBlue
{
    z-index: -1;
}

.redBlue::after
{
    content: "";
    position: absolute;
    width: 479px;
    height: 479px;
    top: 0;
    right: 0;

    background: #E83D37;
    filter: blur(300px);
    border-radius: 50%;
}

.redBlue::before
{
    content: "";
    position: absolute;
    width: 776px;
    height: 775px;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);

    background: #2ABCFB;
    filter: blur(300px);
    border-radius: 50%;
}

.btnLogin
{
    background: #2ABCFB;
    border-radius: 10px;
}

.inputLogin
{
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    background: transparent;
}

.boxLogin
{
    max-width: 400px;
    width: 100%;
    transition: all 1s ease;
}

.boxLogin small
{
    font-size: 12px;
}

.eyes
{
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.event
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: rgba(42, 188, 251, 0.25);
    border-radius: 20px;
    cursor: pointer;
}

.event:hover
{
    background: linear-gradient(90deg, #2ABCFB -10.58%, rgba(251, 42, 42, 0.5) 114.96%);
}

@media screen and (max-width: 768px) {
    #navbar
    {
        background: #ffffff;
        opacity: .8;
    }
    
    .redBlue
    {
        overflow: inherit !important;
    }

    .login .col-6
    {
        width: 100%;
    }

    .footerLogin p
    {
        margin-right: 0 !important;
    }
}